* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.react-pdf__Page {
  position: relative;
}

.react-pdf__Page__canvas {
  display: block;
  user-select: none;
}

/* react-pdf annotation layer styles */
.react-pdf__Page__annotations .annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
}

.react-pdf__Page__annotations .annotationLayer section {
  position: absolute;
}

.react-pdf__Page__annotations .annotationLayer .linkAnnotation>a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.react-pdf__Page__annotations .annotationLayer .linkAnnotation>a:hover {
  opacity: 0.2;
  background: #ff0;
  box-shadow: 0 2px 10px #ff0;
}

/* react-pdf text layer styles */
.react-pdf__Page__textContent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1.0;
}

.react-pdf__Page__textContent span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.react-pdf__Page__annotations {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}